- name: Run Tests & Generate Coverage
  run: bun test --coverage --coverage-reporter=lcov

- name: Report to DeepSource
  uses: deepsourcelabs/test-coverage-action@master
  with:
    key: javascript
    coverage-file: ./coverage/lcov.info
    dsn: ${{ secrets.DEEPSOURCE_DSN }}